.header {
    font-size: 18px;
    color: white;
    padding: 8px 0px 8px 15px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    
}

.container{
    padding: 0px 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-data {
    width:300px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.main-data > img {
    width: 100%;
}
.main-data > p{
    padding: 0 5px;
    font-size: 13px;
    margin: 5px 0;
    opacity: 0.5;
}

/* second page */
.container-2 {
    padding: 0px 20px;
    display: flex;
}
.main-div-2{
    width: 500px;
}
.main-div-2 > img {
    width: 70%;
    height: 250px;
    margin: 20px 0;
    border-radius: 5px;
}
.main-div-2 > p {
    font-size: 14px;
    margin-top: 10px;
}

@media screen and (max-width: 992px) {
    .main-data {
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .main-data {
        width:350px;
    }
}

@media screen and (max-width: 576px) {
    .main-data {
        width: 400px;
    }
}